<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toyota</title>
    <link rel="icon" type="image/x-icon" href="myicon.ico"/>

</head>
<body>
    <h1>Quiz History</h1>
    <div class="d-flex justify-content-center mb-3">
        <a href="/main" class="btn btn-primary btn-custom">Go to Main Page</a>
      </div>
    <ul>
        <% quizHistory.forEach(history => { %>
            <li>Score: <%= history.score %>, Total Questions: <%= history.totalQuestions %>, Date: <%= history.date %></li>
        <% }) %>
    </ul>
</body>
</html>
