<section class="footer">

    <div class="footer-container container">
        <div class="footer-box">
            <h3 data-i18n="footerPage">Page</h3>
            <a href="/cars" data-i18n="footerCars">Cars</a>
            <a href="/suvs" data-i18n="footerSUVs">SUVs</a>
            <a href="/trucks" data-i18n="footerTrucks">Trucks</a>
            <a href="/upcoming" data-i18n="footerUpcomingVehicles">Upcoming Vehicles</a>
        </div>
    
        <div class="footer-box">
            <h3 data-i18n="footerLinks">Links</h3>
            <a href="/about" data-i18n="footerAboutUs">About us</a>
            <a href="/support" data-i18n="footerSupport">Support</a>
            <a href="/contactus" data-i18n="footerContactUs">Contact us</a>
        </div>
    
        <div class="footer-box">
            <h3 data-i18n="footerConnect">Connect</h3>
            <a href="https://www.facebook.com/toyota" data-i18n="footerFacebook">Facebook</a>
            <a href="https://twitter.com/Toyota" data-i18n="footerTwitter">Twitter</a>
            <a href="https://www.instagram.com/toyota/?hl=en" data-i18n="footerInstagram">Instagram</a>
        </div>
    </div>
    
    <!--Copyright-->
    <div class="copyright">
      <p data-i18n="nameAndGroup">&#169; Toktar Sultan SE-2202 </p>
    </div>
    
    </section>
    